# Python cache

**pycache**/
*.py[cod]
*$py.class

# Virtual environments

venv/
.env/
.venv/
env/
ENV/

# Distribution / packaging

build/
dist/
*.egg-info/
.eggs/

# Docker
docker-compose.yml

# Logs

*.log

# Environment variables

.env

# IDE / Editor

.vscode/
.idea/

# OS files

.DS_Store
Thumbs.db

# Testing

.coverage
htmlcov/
.pytest_cache/

# Jupyter Notebook

.ipynb_checkpoints

